<app-header></app-header>

<main>
  <section>
    <div>
      <app-search></app-search>

      <app-weather-card></app-weather-card>

      <app-forecast></app-forecast>
    </div>

    <aside class="favorites-section desktop-only">
      <app-favorites></app-favorites>
    </aside>
  </section>

<!--  <button class="toggle-favorites mobile-only" (click)="showFavorites = !showFavorites">-->
<!--    {{ showFavorites ? 'Hide Favorites' : 'Show Favorites' }}-->
<!--  </button>-->

<!--  <section *ngIf="showFavorites" class="mobile-favorites mobile-only">-->
<!--    <app-favorites></app-favorites>-->
<!--  </section>-->
</main>
