<section class="search-container">
  <mat-form-field class="search-field">
    <mat-label>Enter a city name</mat-label>
    <span class="search-icon-container" matTextPrefix>
      <mat-icon fontIcon="search"></mat-icon>
    </span>
    <input matInput type="text" [formControl]="searchControl" autocomplete="off">

    @if (searchControl.value) {
      <button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="clearSearch()"
      >
        <mat-icon>close</mat-icon>
      </button>
    }
  </mat-form-field>

  @if (searchResults$ | async; as cities) {
    @if (cities.length) {
      <mat-list role="list">
        @for (city of cities; track $index) {
          <mat-list-item
            role="listitem"
            (click)="selectCity(city)"
          >
            {{ city.fullLocationName }}
          </mat-list-item>
        }
      </mat-list>
    }
  }

  @if (showNoResults) {
    <mat-card appearance="outlined">
      <mat-card-content>
        No results found
      </mat-card-content>
    </mat-card>
  }
</section>

