@use "variables" as *;

.search-container {
  display: flex;
  flex-direction: column;
  max-width: $search-max-width;
  width: 100%;
}

.search-field {
  width: 100%;
}

.search-icon-container {
  margin-right: 10px;
}

mat-list {
  width: 100%;
  background: var(--mat-sys-surface-variant);
  border-radius: $border-radius-md;
  overflow: hidden;
}

mat-list-item {
  cursor: pointer !important;
  padding: 12px;

  &:hover,
  &:focus {
    background: var(--mat-sys-secondary-container);
  }
}

mat-card {
  text-align: center;
}
