@use '@angular/material' as mat;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #161215;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body, app-root {
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0 !important;
  padding: 0 !important;
}

mat-form-field {
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    padding: 24px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 32px;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

:root {
  @include mat.snack-bar-overrides((
    container-color: #4caf50 !important,
    supporting-text-color: white !important
  ));
}

:root {
  @include mat.snack-bar-overrides((
    container-color: #f44336 !important,
    supporting-text-color: white !important
  ));
}

